html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

h2 {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #333333;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 56px;
    line-height: 64px;
  }
}
